.app-wrap > .container{
  max-width: 768px;
  padding-top: 2rem;
}
.app-wrap:after, .app-wrap:before{
  opacity: 0;
  pointer-events: none;
  display: block;
  transition: opacity 300ms;
}
.app-wrap:after{
  content: '';
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.app-wrap:before{
  content: 'Carregando ...';
  font-size: 30px;
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loading 1s infinite linear;

}
.app-wrap.loading:before, .app-wrap.loading:after{
  opacity: 1;
  pointer-events: all;
}
@keyframes loading {
  0%, 100%{
    transform: translate(-50%, -50%) scale(0.9) rotate(-5deg);
  }
  50%{
    transform: translate(-50%, -50%) scale(1.1) rotate(5deg);
    color: tomato;
  }
}